/* 
   .' -   - '.
  /  .-. .-.  \
  |  | | | |  |     ShellDredd Society
   \ \o/ \o/ /       -The cyber side-
  _/    ^    \_
 | \  '---'  / |
 / /`--. .--`\ \
/ /'---` `---'\ \
'.__.       .__.'
    `|     |`
     |     \
     \      '--.
      '.        `\
        `'---.   |
           ,__) /
            `..' */

            * {
                margin: 0;
                padding: 0;
            }
            
            #contenedor_carga{
                background-image: url(images/arcade.gif);
                background-repeat: no-repeat;
                background-size: cover;
                background-color: black;
                height: 100%;
                width: 100%;
                position: fixed;
                -webkit-transition: all 4s ease;
                -o-transition: all 4s ease;
                transition: all 4s ease;
                z-index: 10000;
            }
            
            #menu{
                
            }

            body {
                background-color: black;
            }
        
            /* Main styles */
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
        
      
        
        /* Other styles */
        
        body {
            background-color: black;
          font: Open Sans, Impact;
          background-image: url();
          background-size: cover;
          height: 900px;
          background-color: black;
        }
        
        .portada {
          font: Open Sans, Impact;
          background-image: url(images/lluvia.gif);
          background-size: cover;
          background-position: center;
          height: 1200px;
        }

        .contenedor-texto{
            text-align: center;
            font-size: 30px;
            font-family: fantasy;
            color: rgb(189, 0, 0);
        }
        
        .texto1 {
            color: rgb(139, 0, 0);
            filter: drop-shadow(0 10px 10px rgb(196, 112, 3));
        }
        
        .texto2 {
            color: rgb(139, 0, 0);
            filter: drop-shadow(0 10px 10px rgb(196, 112, 3));
        }
        
        .texto3 {
            color: rgb(139, 0, 0);
            filter: drop-shadow(0 10px 10px rgb(196, 112, 3));
        }
        
        .img-logo1 {
            filter: drop-shadow(0 10px 10px rgb(168, 21, 21));
        }


        .portada-apt-23{
          position: static;
          background-image: url(images/hacker.gif);
          background-size: cover;
          background-repeat: no-repeat;
          background-size: ;
          background-position-x: center;
          background-color: black;
          width: 100%;
          margin: auto;
          height: 800px;
          text-align: center;
        }

        .icon-intro {
            size: cover;
            background-repeat: no-repeat;
        }

        .header {
          background-image: url();
          background-color: transparent;
          position: fixed, static;
          left: 0;
          top: 0;
          right: 0;
      }
      
      .header a {
          color: burlywood;
          text-decoration: none;
      }
      
      .container-logo-nav {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          margin-top: 0em;
      }
      
      .logo {
          width: 30%;
          margin-top: 3em;
          margin-left: 1.5em;
          line-height: 1em;
          font-size: 100px;
      }
      
      .logo:hover {
          
          font-size: 110px;
      }
      
      .navi ul {
          margin: 0;
          padding: 0;
          list-style: none;
      }
      
      .navi ul li {
          font-size: 18px;
          display: inline-block;
      }
      
      .navi ul li a {
          color: brown;
          display: block;
          padding: 0.5rem 1rem;
          transition: all 0.5s linear;
          border-radius: 5px;
          transition: width 1s, height 1s, transform 1s;
      }
      
      .navi ul li a:hover {
          background: burlywood;
          font-size: 20px;
          color: black;
          margin: 0.5em;
          padding: 0.1em;
          transform: rotate(360deg);
      }
      
      .icon-maquina {
          width: 30px;
      }
      
      .icon-articulos {
          width: 40px;
      }
      
      .icon-novedades {
          width: 40px;
      }
      
      .icon-tool {
          width: 40px;
      }
      
      .icon-comu {
          width: 40px;
      }
      
      .icon {
          width: 150px;
      }
      
      .icon-live {
          width: 150px;
      }
      
      /* Segunda portada */
      
      .header0 {
          background-image: url(images/line.gif);
          background-color: black;
          background-size: cover;
          position: fixed, static;
          align-content: center;
          height: 10px;
          left: 0;
          top: 0;
          right: 0;
      }
      
      .container-logo-nav0 {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
      }

      /* Segundo header */
    
    .header2 {
      background-image: url();
      background-color: black;
      position: fixed, static;
      height: 100px;
      left: 0;
      top: 0;
      right: 0;
  }
  
  .header2 a {
      text-decoration: none;
  }
  
  .container-logo-nav2 {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  
  .logo2 {
      width: 30px;
      margin-left: 0.5em;
      letter-spacing: 5px;
      font-size: 1.3em;
  }
  
  .navi2 ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  
  .navi2 ul li {
      font-size: 18px;
      display: inline-block;
  }
  
  .navi2 ul li a {
      color: burlywood;
      display: block;
      padding: 0.5rem 1rem;
      border-radius: 5px;
  }
  
  .navi2 ul li a:hover {
      background: burlywood;
      font-size: 18px;
      color: green;
      margin: 0.5em;
      padding: 0.1em;
  }
  
  .icon2{
      width: 50px;
  }
  
  
  body {
      position: static;
      width: 100%;
      height: 100%;
      font-size: 22px;
      line-height: 1.3em;
      margin: 0;
      cursor: hand;
  }
  

  /* añadido nuevo */ 

 /* Contenido del Home */
   
 .enlaces {
     color: yellowgreen;
 }

 .enlaces:hover {
     color: red;
     font-size: 30px;
 }

 .descrip1 {
    filter: drop-shadow(0 10px 10px rgb(168, 21, 21));
    background-color: black;
    color: white;
    background-image: url();
    background-size: cover;
    text-align: center;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
}

.img1 {
    float: left;
    margin-left: 3em;
    margin-top: 3em;
}

.h1-texto1 {
    color: white;
    text-align: center;
    border-radius: 25px;
    margin-right: 0em;
}

.texto1 {
    color: white;
    text-align: center;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
}

.espacio1 {
    margin-left: 18em;
    background-image: url(https://media4.giphy.com/media/l8G8sdTRURRBANPpPR/giphy.gif);
    width: 50%;
    height: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.descrip2 {
    filter: drop-shadow(10px 10px 10px rgb(168, 21, 21));
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
}

.h1-texto2 {
    color: white;
    text-align: center;
    border-radius: 25px;
}

.texto2 {
    color: white;
    text-align: center;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
}

.descrip3 {
    filter: drop-shadow(0 10px 10px rgb(168, 21, 21));
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
}

.img3 {
    float: right;
    margin-right: 3em;
    margin-top: 0em;
}

.h1-texto3 {
    color: white;
    text-align: center;
    
    margin-left: 0.5em;
}

.texto3 {
    color: white;
    text-align: center;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
}

.boton-unete {
    background-color: white;
    color: white;
    text-decoration: none;
    font-size: 40px;
    border-radius: 25px;
}

.boton-unete:hover {
    background-color: white;
    color: white;
    text-decoration: none;
    font-size: 50px;
    border-radius: 25px;
}

.icon-unete {
    width: 70px;
}

h1 {
    text-align: center;
    border-radius: 25px;
}

h2 {
    text-align: center;
    font-size: 20px;
}

.separador-final {
    position: static;
    background-image: url(images/line.gif);
    background-size: cover;
    background-color: black;
    width: 100%;
    margin: auto;
    height: 10px;
    text-align: center;
}




.seccion-artistas {
    background-color: black;
}

.titulo-artistas-general {
    align-content: center;
    font-size: 50px;
    font-style: oblique;
    color: white;
}

.container-bloque {
    align-content: center;
    width: auto;
    margin: 0.1em;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 1em;
    margin-left: 4em;
}

#artistas-bloque {
    background-image: url(images/back1.gif);
    background-size: cover;
    width: 200px;
    text-align: center;
    border-radius: 25px;
}

#artistas-bloque:hover {
    background-image: url(images/back2.gif);
}

.titulo-artista {
    background-color: transparent;
    font-size: 22px;
    color: white;
}

.img-tormenta {
    width: 180px;
    min-block-size: 200px;
}

.img-shelldredd {
    width: 170px;
    min-block-size: 200px;
}



















/* Smartphones (portrait & landscape) Home */
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
       
      body {
          font: Open Sans, Impact;
          background-image: url(images/fondo-web.gif);
          background-size: cover;
          background-repeat: no-repeat;
        }
       
      .text {
          font-size: 200px;
        }
       
       .contenedor-texto{
            text-align: center;
            font-size: 15px;
            font-family: fantasy;
            color: rgb(189, 0, 0);
        }
       
    }


